
<nav class="nav">
    
    <a class="nav-link active" href="#">HTML</a>
    <a class="nav-link" href="#">CSS</a>
    <a class="nav-link" href="#">JavaScript</a>
    <a class="nav-link" href="#">Preview</a>
    
</nav>

<div class="jumbotron text-center">
  
  <h1>My First Bootstrap Page</h1>
  <p>Resize this responsive page to see the effect!</p> 
</div>
  
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>Column 1</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
    </div>
    <div class="col-sm-4">
      <h3>Column 2</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
    </div>
    <div class="col-sm-4">
      <h3>Column 3</h3>        
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
    </div>
  </div>
</div>




<div>
   <p>
       user works!
   </p>
 <ul>
  <li>{{id}}</li>
  <li>{{fullName}}</li>
  <li>{{email}}</li>
  <li>{{post.body}}</li>

  <p>hobbies</p>
   <li *ngFor="let h of hobbies"> {{h}}</li>
    
</ul>



  <label for="user name">fullName</label>
  <input [(ngModel)]="fullName"  name="name"/>
  <button (click) ="addOne()">click me</button>

  </div>
  



